<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    {% include '_nav/_nav.html.twig' %}

    <div class="container mt-5 flex-grow-1">
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <!-- Loader HTML -->
        <div id="loader" style="display: none;">
          <div class="spinner"></div>
        </div>

        <style>
        #loader {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background-color: rgba(255, 255, 255, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .spinner {
          border: 16px solid #f3f3f3;
          border-top: 16px solid #3498db;
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        </style>

        {% block body %}{% endblock %}
    </div>

    <footer class="bg-light text-center py-3 mt-auto">
        {% block footer %}
            <p>&copy; {{ "now"|date("Y") }} TrustyHome. Tous droits réservés.</p>
        {% endblock %}
    </footer>
    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      var loader = document.getElementById('loader');
      var minimumLoadingTime = 2000; // 2 secondes
      var loadingStartedAt = new Date().getTime();
      var isLoaderVisible = false;

      function showLoader() {
        loader.style.display = 'flex';
        isLoaderVisible = true;
      }
      
      function hideLoader() {
        var currentTime = new Date().getTime();
        var timeElapsed = currentTime - loadingStartedAt;

        if (timeElapsed >= minimumLoadingTime) {
          loader.style.display = 'none';
          isLoaderVisible = false;
        } else {
          setTimeout(function() {
            loader.style.display = 'none';
            isLoaderVisible = false;
          }, minimumLoadingTime - timeElapsed);
        }
      }

      // Affiche le loader immédiatement et note l'heure de début
      showLoader();
      
      // Cache le loader après que la page est complètement chargée, ou après un délai minimum
      window.addEventListener('load', hideLoader);

      // Assurez-vous que le loader est visible pendant un minimum de 2 secondes
      setTimeout(function() {
        if (isLoaderVisible) {
          hideLoader();
        }
      }, minimumLoadingTime);

      // Afficher le loader lors de la soumission des formulaires
      document.querySelectorAll('form').forEach(function(form) {
        form.addEventListener('submit', function() {
          showLoader();
        });
      });
    });
    </script>

    <script defer src="{{ asset('js/custom.js') }}"></script>
</body>
</html>
